USE [IPB2]
GO
/****** Object:  Table [dbo].[Tbl_Attendance]    Script Date: 3/15/2026 12:41:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Attendance](
	[Id] [nvarchar](100) NOT NULL,
	[AttendanceDate] [date] NOT NULL,
	[ClassId] [nvarchar](100) NOT NULL,
	[StudentEnrollId] [nvarchar](100) NOT NULL,
	[TimeIn] [nvarchar](20) NOT NULL,
	[TimeOut] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Late] [nvarchar](20) NOT NULL,
	[isDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_AttendanceLog]    Script Date: 3/15/2026 12:41:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_AttendanceLog](
	[Id] [nvarchar](100) NOT NULL,
	[AttendanceDate] [date] NOT NULL,
	[ClassId] [nvarchar](100) NOT NULL,
	[StudentEnrollId] [nvarchar](100) NOT NULL,
	[TimeIn] [nvarchar](20) NOT NULL,
	[TimeOut] [nvarchar](20) NOT NULL,
	[isDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Class]    Script Date: 3/15/2026 12:41:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Class](
	[Id] [nvarchar](100) NOT NULL,
	[ClassName] [nvarchar](100) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Duration] [int] NOT NULL,
	[ScheduleID] [nvarchar](100) NOT NULL,
	[TeacherID] [nvarchar](100) NOT NULL,
	[isDelete] [bit] NOT NULL,
 CONSTRAINT [PK__Tbl_Clas__3214EC073290A3F6] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Grade]    Script Date: 3/15/2026 12:41:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Grade](
	[Id] [nvarchar](100) NOT NULL,
	[GradeName] [nvarchar](100) NOT NULL,
	[FromPercent] [int] NOT NULL,
	[ToPercent] [int] NOT NULL,
	[isDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Leave]    Script Date: 3/15/2026 12:41:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Leave](
	[Id] [nvarchar](100) NOT NULL,
	[LeaveDate] [date] NOT NULL,
	[ClassId] [nvarchar](100) NOT NULL,
	[StudentEnrollId] [nvarchar](100) NOT NULL,
	[isDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Schedule]    Script Date: 3/15/2026 12:41:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Schedule](
	[Id] [nvarchar](100) NOT NULL,
	[ScheduleName] [nvarchar](100) NOT NULL,
	[StartTime] [nvarchar](20) NOT NULL,
	[EndTime] [nvarchar](20) NOT NULL,
	[IsDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_StudentEnroll]    Script Date: 3/15/2026 12:41:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_StudentEnroll](
	[Id] [nvarchar](100) NOT NULL,
	[StudentName] [nvarchar](100) NOT NULL,
	[StudentPhoneno] [nvarchar](20) NOT NULL,
	[StudentAge] [int] NOT NULL,
	[ClassId] [nvarchar](100) NOT NULL,
	[isDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Teacher]    Script Date: 3/15/2026 12:41:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Teacher](
	[Id] [nvarchar](100) NOT NULL,
	[TeacherName] [nvarchar](100) NOT NULL,
	[TeacherPhoneno] [nvarchar](20) NOT NULL,
	[TeacherAddress] [nvarchar](100) NULL,
	[IsDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
